@media only screen and (max-width: 600px) {
    .vertical {
      border-right: 0px;
    }
  }

  @media only screen and (min-width: 768px) {
    .card{
      margin-bottom: 30px;
    }
    
    #courses-content h5{
      margin-bottom: 20px;
    }
  }
