
#showcase {
    position: relative;
    background: url("img/Rectangle1.svg") no-repeat;
    min-height: 600px;
}

#showcase .primary-overlay {
    background: rgba(44, 44, 44, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.2%;
}

.vertical {
    border-right: 2px solid black;
    height: 100%;
}

/* MAP SECTION */
#map {
    margin-top: 1.5em;
    height: 50vh;
}

/*ABOUT PAGE*/
.sm {
    display: none;
}
.lg{
    font-size: 30px;
    margin-bottom: 35px;
    padding-top: 15px;
}
.about_title{
    color: #258BEA;
}
.about_title::after{
    content: '';
    width: 46px;
    height: 3px;
    position: absolute;
    background-color: #258BEA;
    left: 0;
    margin-top: 34px;
}

.carousel-indicators > li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.carousel-indicators .active{
    background-color: #258BEA!important;
}


.heading {
    color: #258BEA;
    text-align: center;
    font-size: 30px;
    margin-bottom: 3rem;
    margin-top: -100px;
}

.carousel-item {
    margin-bottom: 6rem;
}
.subs {
    font-size: 18px;
    letter-spacing: .1rem;
}

.card-body {
    padding: 0rem;
}

.card_text_about2{
    margin-top: 5px!important;
}

.card_text_about1, .card_text_about2, .card_tile_text1, .card_tile_text2, .card_tile_text3{
    font-size: 16px;
    text-align: justify!important;
}
.about_showcase_img img {
    width: 90%;
    height: 64%;
    object-fit: fill;
    border-radius: 15px!important;
}

.numbering {
    color: #b3b5b6a1;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
}
.testimonial_title{
    color: #2F2E2E;
    font-size: 30px;
    font-family: Poppins, sans-serif;
}

.testimonial_title::after{
    content: '';
    width: 56px;
    height: 3px;
    position: absolute;
    margin-left: 5px;
    background-color: #2F2E2E;
    left: 0;
    margin-top: 34px;;
}

.testimonial_user2{
    float: right;
    margin-top: -250px;
}

.what_say {
    color: #2F2E2E;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;

}

.about_showcase .colored_overlay {
    background: #ABD5FD;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
}

.colored_overlay .card {
    background-color: #ABD5FD;
    border: none !important;
    font-family: Poppins, sans-serif;

}

img.tile_image {
    width: 100%;
    border-radius: 100px!important;
}

.tile_line {
    position: relative;
    top: 21px;
    left: -54px;
    color: black;
    margin-top: 0px;
    margin-bottom: 1rem;
    float: left;
    border-radius: 5px;
    width: 10%;
    height: 4px;
}

.tile {
    margin-top: 40px;
    padding-left: 40px;
}

.tile_body {
    float: left;
    position: relative;
    right: 46px;
    font-weight: 700;
    font-size: 30px;
    font-family: Poppins, sans-serif;
}

.tile_text {
    margin-top: 0px !important;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    margin: 10px;

}
.testimonial_text{
    margin-top: -30px;
}

#sponsors {
    position: relative;
    min-height: 286px;
    font-family: Poppins, sans-serif;
    padding: 10px;
    margin-bottom: 20px;

}

#sponsors .card-title {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    color: #2F2E2E;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
}

#sponsors .card-img {
    width: 100%;
    height: 50xp;
    border-radius: 0px;
    margin-left: 0px;

}
/*ABOUT PAGE ENDS*/




